<% if user_signed_in? %>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>

    <tbody>
      <% @relatives.each do |relative| %>
        <tr>
          <td>
            <%= relative.first_name %>
          </td>
          <td>
            <%= relative.last_name %>
          </td>
          <td>
            <%= relative.email %>
          </td>
          <td>
            <%= relative.phone_number %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
